<h1>Teste Bootstrap</h1>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/logo_horacio.png" />
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/crud.png" />
      </div>
    </div>
  </div>
</div>

<h1>Big Rafa <span class="badge badge-secondary">Big Rafa</span></h1>

<router-outlet></router-outlet>
